{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}
<style>
  .container,
  body {
    background: linear-gradient(to right, #121b2e, #3369a3);
    color: white;
    border-radius: 10px;
  }

  h1 {
    margin: 30px 0 80px 0;
    font-size: 3em;
  }

  h2 {
    margin: 30px 0 50px 0;
    font-size: 2em;
  }

  p {
    margin: 30px 0 40px 0;
    font-size: 1.75em;
  }
</style>
<div class="home">
    <h1>Welcome, {{ current_user.username }}! <span class="wave">👋</span></h1>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <h2>Curious about what you can do on this app? You can:</h1>

    <p> <a href="{{ url_for('manage_courses') }}"  style="color:#efe563; font-weight:bold">Explore Courses 💡</a>: Master Computer Science concepts using our engaging modules!</p> 

    <p> <a href="#"  style="color:#efe563; font-weight:bold">Have A Mock Interview 👨🏻‍💻</a>: Sharpen your interview skills and boost your confidence!</p> 

    <p> <a href="{{ url_for('chat') }}"  style="color:#efe563; font-weight:bold">Consult Your AI Tutor 💬</a>: Ask questions and have your problems solved in seconds!</p> 
</div>
{% endblock %}
